body {
	background: url("../img/background.jpg") no-repeat;
	background-attachment: fixed;
}

h1 {
	color: red;
}

button {
	border: none;
	border-radius: 2px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
	cursor: pointer;
	color: #FFFFFF;
	background-color: #D14334;
	
	
}
submit {
	border: none;
	border-radius: 2px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
	cursor: pointer;
	color: #FFFFFF;
	background-color: #D14334;
}

.header {
	position: fixed;
    margin-left: 15%;
    top: 0;
    width: 70%;
    z-index: 2;
    background-color: white;
    border-bottom: thick;
    
  
    
}
.content{ 
    margin-top: 100px;
}

/*.header {
	 width: 100%;
    position: fixed;
    top: 0;
   border-bottom: threeddarkshadow;
  color: white;
}

.content {
	position: relative;
	height: 100px;
	
}
.outer {
    position: relative;
    height: 100px;
}
.outer .header {
    position: absolute;
    bottom: 0;
    z-index: 2;
    top: auto;
}
.content {
  
    margin-top: 100px;
}
*/









